<div class="text-center"><img src="/static/rss_banner.jpeg" class="img-fluid" ></div>

{% if current_user.is_authenticated %}

<nav navbar navbar-dark bg-dark>
    <div class="container p-4 my-4 bg-dark text-white text-center rounded">     
        <div class="row">  

            {% if current_user.is_authenticated %}
                {% if current_user.is_admin %}
                    <div></div>
                    <div class="col col-md-2"><a href="{{ url_for('register') }}?create_user=Y" class="link-light">Create&nbsp;&nbsp;User</a></div>
                    <div class="col col-md-2"><a href="{{ url_for('home') }}" class="link-light">Search</a></div>
                    <div class="col col-md-2"><a href="{{ url_for('report') }}" class="link-light">Report</a></div>                  
                    <div class="col col-md-2"><a href="{{ url_for('register') }}" class="link-light">Profile</a></div>
                    <div class="col col-md-2"><a href="{{ url_for('logout') }}" class="link-light">Logout</a></div>
                {% else %}
                    <div></div>
                    <div class="col col-md-2"><a href="{{ url_for('register') }}" class="link-light">Profile</a></div>
                    <div class="col col-md-2"><a href="{{ url_for('home') }}" class="link-light">Search</a></div>
                    <div class="col col-md-2"><a href="{{ url_for('logout') }}" class="link-light">Logout</a></div>
                    <div class="col col-md-1"></div>
                {% endif %}
            {% endif %}
        </div>
    </div>
</nav>

{% endif %}
 