<!-- Navigation -->
<nav>
  <div class="container p-4 my-4 bg-primary text-white text-center rounded">
      <div class="row">
          <div class="col col-md-2"><img src="/static/inl_logo_transp_bg.png" style="width: 160px;height: 100px;background: unset;"></div>
          <div class="col col-md-8"><h2>Case Search</h2> </div>
          <div class="col col-md-2"><img src="/static/rss_logo.png" style="width: 100px;height: 100px;">  </div>
      </div>
      <div class="row">  
            <div class="col col-md-9"></div>                
            <div class="col col-md-1"><a href="" class="link-dark">Admin</a> </div> 
            <div class="col col-md-1"><a href="{{ url_for('register') }}" class="link-dark">Profile</a></div>
            <div class="col col-md-1"><a href="{{ url_for('logout') }}" class="link-dark">Logout</a></div>   
      </div> 
  
    </div>
      
  </nav>
  
  