{% extends 'index.html' %}

{% block body %}

<div class="container-fluid">
    <h3>All Search Queries</h3>
    
    <table id="searchQueriesTable" class="table table-striped table-bordered"> 
        <thead class="table-dark">
            <tr>
                <th>Date</th>
                <th>User</th>
                <th>Search Query</th>
            </tr>
        </thead>
        <tbody>
            {% for query in search_queries %}
            <tr>
                <td>{{ query.timestamp }}</td>
                <td>{{ query.email }}</td>
                <td>{{ query.search_query }}</td>
            </tr>
            {% endfor %}


            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <a href="{{ url_for('report', format='csv') }}" class="btn btn-primary">Download CSV</a>
                    </div>
                    <div class="col-md-4">
                        <a href="{{ url_for('report', format='pdf') }}" class="btn btn-primary">Download PDF</a>
                    </div>
                    <div class="col-md-4">
                        <a href="{{ url_for('report', format='excel') }}" class="btn btn-primary">Download Excel</a>
                    </div>
                </div>
            </div>
            
        </tbody>
    </table>
</div>

{% endblock %}