<!-- {% extends 'index.html' %}

{% block body %}

<div class="container-fluid">

   <form id="search" action="/search/results" method="post">
      <div class="row justify-content-center">

         <div class="col-4"><input type="text" class="form-control" placeholder="Enter search phrase" autofocus></div>
         <div class="col-4"><button type="submit" class="btn btn-primary">Search here</button></div>
      </div>
   </form>

</div>
</div>

{% endblock %} -->




<!-- *****We need to remove this page, later on******* -->