{% extends 'index.html' %}

{% block body %}
<br /> <br />
<div class="container-fluid">
   <div class="container p-4 my-4 bg-primary text-white text-center rounded">
      <h2>Case Search</h2>
   </div>

   <form id="search" action="/search/results" method="post">
      <div class="row">
         <div class="col"><input type="text" class="form-control" name="input" placeholder="Search" autofocus></div>
         <div class="col"><button type="submit" class="btn btn-primary">Search</button></div>
      </div>
   </form>


</div>
</div>

{% endblock %}